body {
    box-sizing: border-box;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/*  HEADER  and FOOTER*/ 
.header, .footer{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    color: #f9faf8;
    background: #1f2937;
    padding: 10px;
    height: 100px;
    align-items: center;
}
.header-logo {
    height: 60px;
    width: 100px;
    object-fit: cover;
}
nav > ul {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
}
a { 
    color: #f9faf8;
    text-decoration: none;
}

/*  BODY ONE  */ 
.hero {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    color: #f9faf8;
    background: #1f2937;
    gap: 10px;
    padding: 100px 20px;
}
.sign-up{
    max-width: 500px;
    flex-shrink:1 1 0;
}
.sign-up > *{
    margin-bottom: 10px;
}
.sign-up > h1{
    font-size: 48px;
    font-weight: bolder;
}
.sign-up > p {
    font-size: 18px;
    color: #e5e7eb;
}
.sign-up > button {
    border-radius: 10px;
    border: none;
    padding: 10px 30px;
    color: #f9faf8;
    font-weight: bold;
    font-size: 18px;
    background: #3882F6;
}
.hero-img{
    max-width: 500px;
    height: 230px;
    flex: 1 1 0;
    object-fit:cover;
}
    
/*  BODY TWO  */ 
.info {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    color: #1f2937;
    padding: 100px 20px;
    background: url(img/canny.png) no-repeat center fixed;
}
.info > * {
    margin-bottom: 30px;
}
.info > h1 {
    font-size: 36px;
    font-weight: bolder;
}
.card-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
}
.card-container > div{
    width: 150px;
}
.card> img{
    border-radius: 10px;
    width: 100%;
    height: auto;
}
.card > p {
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}

/*  BODY THREE  */ 
.quote {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    color: #1f2937;
    background: #e5e7eb;
    padding: 50px 20px;

}
.quotes{
    font-style: italic;
    font-size: 36px;
    font-weight: light;
    margin-bottom: 10px;
    width: 80%;
}
.speaker{
    font-size: 20px;
    width: 80%;
    font-weight: bold;
    text-align: end;
}

/*  BODY FOUR */ 
.report {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    color: #f9faf8;
    padding: 100px 20px;
    background: url(img/uncanny.png) no-repeat center fixed;
}
.report-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 25px 100px;
    border-radius: 10px;
    background: #3882F6;
}
.report-text {
    flex: 1 1 200px;
}
.report-text > h1 {
    font-size: 22px;
    font-weight: bold;
}
.report-container > button {
    border-radius: 10px;
    border: 2px solid;
    padding: 10px 30px;
    color: #f9faf8;
    font-weight: bold;
    font-size: 18px;
    background: #3882F6;
    flex: 0 1 auto;
}


