* {
    margin: 0;
    box-sizing: border-box;
    border: 1px solid yellow; 
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header, .footer{
    display: flex;
    padding: 10px;
    align-items: center;
    background: #1f2937;
    color: #f9faf8;
}

.header {
    justify-content: space-between;
}

.header-logo {
    height: 50px;
    width: 100px;
    background-color: green;
}

nav > ul {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
}

a { 
    color: #f9faf8;
    text-decoration: none;
}

.container > div{
    display: flex;
    height: 450px;
    align-items: center;
}

.container-1 {
    color: #f9faf8;
    background: #1f2937;
}

.container-1 > div {
    flex:1;
}
.sign-up > h1{
    font-size: 48px;
    font-weight: bolder;
}
.sign-up > p {
    font-size: 18px;
    color: #e5e7eb;
}
.sign-up > button {
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    padding: 10px 30px;
    color: #f9faf8;
    font-weight: bold;
    font-size: 18px;
    background: #3882F6;
}
.image {
}
.container-2 {
    color: #1f2937;
}

.container-3 {
    color: #1f2937;
    background: #e5e7eb;
}

.container-4 {
    color: #f9faf8;
}

.footer {
    justify-content: space-around;
}

