* {
    margin: 0;
    box-sizing: border-box;
    border: 1px solid yellow; 
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: auto;
}

.header, .footer{
    display: flex;
    padding: 10px;
    align-items: center;
    background: #1f2937;
    color: #f9faf8;
}

/*  HEADER  */ 
.header {
    justify-content: space-between;
}
.header-logo {
    height: 60px;
    width: 100px;
    object-fit: cover;
}
nav > ul {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
}
a { 
    color: #f9faf8;
    text-decoration: none;
}

/*  BODY CONTAINER */ 
.container > div{
    display: flex;
    padding: 100px 0px;
    align-items: center;
}

/*  BODY ONE  */ 
.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    color: #f9faf8;
    background: #1f2937;
}
.sign-up{
    max-width: 500px;
    flex-shrink:1 1 0;
}
.sign-up > *{
    margin: 10px 0px;
}
.sign-up > h1{
    font-size: 48px;
    font-weight: bolder;
}
.sign-up > p {
    font-size: 18px;
    color: #e5e7eb;
}
.sign-up > button {
    border-radius: 10px;
    border: none;
    padding: 10px 30px;
    color: #f9faf8;
    font-weight: bold;
    font-size: 18px;
    background: #3882F6;
}
.hero-img{
    max-width: 500px;
    height: 250px;
    flex: 1 1 0;
    object-fit:cover;
}
    
/*  BODY TWO  */ 
.info {
    display: flex;
    flex-direction: column;
    color: #1f2937;
}
.info > h1 {
    font-size: 36px;
    font-weight: bolder;
}
.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.card-container > div{
    width: 150px;
}
.card> img{
    border: 5px solid #3882F6;
    border-radius: 10px;;
    width: 100%;
    height: auto;
}
.card > p {
    font-size: 36px;
    color:#e5e7eb;
    font-weight: bolder;
    text-align: center;
}
/*  BODY THREE  */ 
.quote {
    color: #1f2937;
    background: #e5e7eb;
}

/*  BODY FOUR */ 
.call {
    color: #f9faf8;
}

/*  FOOTER  */ 
.footer {
    justify-content: space-around;
}

